Repository fluttercandies/flutter_photo_manager, pull requests merged in 2022-02, with the labels that each got.

#708 ⚡️ Make all entities immutable
  MIGRATION_GUIDE.md
  example/lib/model/photo_provider.dart
  example/lib/widget/gallery_item_widget.dart
  lib/src/internal/editor.dart
  lib/src/internal/plugin.dart
  lib/src/types/entity.dart
  lib/src/utils/convert_utils.dart
Labels: Sort: Enhancement, Type: Dart (package), ⏳WEEK

#709 ⚡️ Improve the image provider
  README.md
  example/lib/main.dart
  example/lib/model/photo_provider.dart
  example/lib/page/copy_to_another_gallery_example.dart
  example/lib/page/detail_page.dart
  example/lib/page/home_page.dart
  example/lib/page/image_list_page.dart
  example/lib/page/move_to_another_gallery_example.dart
  example/lib/widget/image_item_widget.dart
  example/lib/widget/live_photos_widget.dart
  lib/photo_manager.dart
  lib/src/internal/constants.dart
  lib/src/internal/enums.dart
  lib/src/internal/image_provider.dart
  lib/src/internal/plugin.dart
  lib/src/managers/caching_manager.dart
  lib/src/types/entity.dart
  lib/src/types/thumbnail.dart
Labels: Sort: Enhancement, Type: Dart (package)

#716 Fix activity leaks on Android
  android/src/main/kotlin/com/fluttercandies/photo_manager/PhotoManagerPlugin.kt
Labels: Sort: Enhancement, Platform: Android, Type: Memory
